@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserratBold';
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'montserratMedium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montserratSemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'montserratLight';
  src: url('./assets/fonts/Montserrat-Light.ttf');
}

.dotted-card:hover > p {
  color:white;
}

.dotted-card:hover path {
  fill:white;
  stroke: white;
}

.small-shadow {
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.1);
}

.input-file:hover > label svg > path {
  @apply stroke-primary
}