@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserratBold';
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'montserratMedium';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'montserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'montserratSemiBold';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

#checkbox-rememberme:checked ~ .check-1 {
  display: block;
}